.header {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.head {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif'Roboto', sans-serif;
    font-weight: 700;
}

.menu_item_list {
    color: #95e1d3;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif'Roboto', sans-serif;
    font-weight: 700;
}

.navigation {
width: 490px;
}

.list {
display: flex;
justify-content: space-between;
align-items: center;
}

.item {
text-decoration: none;
text-transform: uppercase;
list-style: none;
border-bottom: 12px solid transparent;
}

.item_2 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #a2e5d9;
    text-transform: uppercase;
}

.item_2:hover {
    border-bottom: 2px solid #f38181;
    text-decoration: none;
    color: #f38181;
    padding-bottom: 12px;
    width: 50px;
}