.main_sad {
    width: 1137px;
    margin: 0 auto;
}

.section_sand {

}

.tijakds {
    font-size: 24px;
    font-weight: 500px; 
    text-align: center;
    margin-top: 178px;
    font-family: 'Kaushan Script', cursive;
}

.save {
    font-size: 24px;
    font-weight: 500px; 
    text-align: center;
    margin-top: 22px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

.save::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 32px auto 0 auto;
}

.height_h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif 'Roboto', sans-serif;
    color: #737373;
    margin-left: 67px;
}

.jaaann {
    width: 269px;
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 67px;
    margin-bottom: 99px;
}

.din {
   margin-bottom: 92px; 
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 66px;
}

.jaaann::before {
    background-image: url(../images/ALARM@1X.png);
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.din {
    margin-bottom: 92px;
}

.texts {
    font-size: 15pt;
    color: #b3b3b3;
    text-align: center;
}

