.main_wrapp {
    padding-top: 160px;
}

.section_wrapp {
    width: 1200px;
    margin: 0 auto;
}

.tagline {
    font-size: 30px;
    font-weight: 700; 
    text-align: center;
    margin-top: 22px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

.text_content {
    font-size: 24px;
    font-weight: 500; 
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.tagline::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 32px auto 0 auto;
}

.text_position {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0 140px;
    color: #b3b3b3;
    text-align: center;
    font-weight: 400;
}

.text_3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:#333333;
}

.text_4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:#333333;
}

.text_5 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:#333333;
}

.text_6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:#333333;
}

.text_7 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:#333333;
}

.text_8 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:#333333;
}

.paragraph_wrapp {
    width: 269px;
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 59px;
}

.position_select {
   margin-bottom: 92px; 
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 66px;
}

.text_3::before {
    background-image: url(../images/ALARM@1X.png);
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: top;
}

.text_4::before {
    background-image: url(../images/LINE_GRAPH@1X.png);
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: top;
}

.text_5::before {
    background-image: url(../images/COMPUTER_OK@1X.png);
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: top;
}

.text_6::before {
    background-image: url(../images/BOOK_2@1X.png);
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: top;
}

.text_7::before {
    background-image: url(../images/HOME@1X.png);
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: top;
}

.text_8::before {
    background-image: url(../images/IMAGE@1X.png);
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: top;
}
.wrapp {
    margin-bottom: 101px;
}