.team {
    width: 1200px;
    margin: 0 auto;
}

.cards_wrapper {
    display: flex;
    margin-top: 90px;
}

.card {
    width: 380px;
    margin-right: 30px;
}

.card_container {
    position: relative;
}

.team_photo {
    width: 380px;
}

.card_container:hover .team_photo {
    transform: translate(-10px, -10px);
    transition: 200ms linear;
}

.team_card_gradient {
    width: 380px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
}

.card_container:hover > .team_card_gradient {
    top: -10px;
    left: -10px;
    transition: 200ms linear;
    background: linear-gradient(rgba(243, 129 , 129, 0.8), rgba(252, 227, 138, 0.8));
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
}

.card_container:hover .social {
    display: block;
}

.social {
    display: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 238px;
}

.social_link {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    display: inline-block;
    position: relative;
    margin-right: 1px;
}

.social_link:last-child {
    margin-right: 0;
}

.social_link:hover {
    background-color: #95e1d3;
}

.social_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.information_card {
    margin-top: 30px;
    text-align: center;
}

.team_name {
    color: #484848;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

.team_position {
    color: #c6c6c6;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 15px;
    color: #b3b3b3;
    text-align: center;
}